<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Art Analyzer — Главная</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style_main.css">
  <script src="/static/js/particles.js"></script>
  <script src="/static/js/startTransition.js"></script>
</head>
<body>
  <div class="particles" id="particles"></div>
  <div class="main-wrapper">
    <h1>Art Analyzer</h1>
    <div class="subtitle">ИИ-анализ изображений: стили, жанры, цвет, графы</div>
    <button class="start-btn" onclick="startTransition()">Приступить к анализу</button>
  </div>
    <footer> ⌁ Art Analyzer &copy; 2025 | by Ckripok </footer>
</body>
</html>
